.hero
  .blurb
    Are you interested in getting meaningful, real-time feedback from your customers? You've come to the right place!

  .links
    = link_to "Register your restaurant", new_restaurant_path
