body {
  font-family: 'Open Sans', sans-serif;
}

a { text-decoration: none !important; }

.main {
  padding-top: 20px;
  margin: 0 auto;
}

.main-business {
  width: 100%;
  float: left;
  min-height: 400px;
  height: auto;
  background-color: $body-bg;
  padding: 20px;
  a {
    font-size: 1.4em;
    color: $body-text-color;
  }
}

h1 .logo {
  background: url(image-path("logo.png")) no-repeat;
  line-height: 10;
  height: 100%;
}
