.rating-display span {
  font-size: 30px;
}

.ratings-submit {
  margin-top: 20px;
}

.rating-button.selected {
  background-color: olivedrab;
}

.btn-ultimate-no {
  background-color: gray;
  color: #fff;
}

.ratings form {
  margin-top: 20px;
}

.restaurant-logo {
  margin-bottom: 10px;
}

