.row.body-element.topframe
  .row
    .col-lg-12
      %ul.nav.navbar-nav.navbar-left
        %li.col-lg-3
          %span.pull-left
            = link_to 'About', "#"
        %li.col-lg-5
          %span.pull-left
            = link_to "Restaurants", "#"
        %li.col-lg-2
          %span.pull-left
            = link_to "Jobs", "#"
      %ul.nav.navbar-nav.navbar-right.col-lg-2
        %li
          %span.pull-right.login-link
            = link_to "Sign in", "#"
  .bottom
    %h1
      dweedo

